.cell {
  width: 20;
  height: 20;
  border: solid 1px black;
  text-align: center;
  cursor: cell;
  color: lightgreen;
  background-color: white;
  position: relative;
}

.cell .active {
  align-content: center;
}

.cell,
.cell:before,
.cell:after {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}
