.cell {
  border: solid 1px black;
  text-align: center;
  cursor: cell;
  color: lightgreen;
  background-color: white;
  position: relative;
}

.cell .active {
  cursor: cell;
}

.cell,
.cell:before,
.cell:after {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
}
