.Mars-Rover-Images {
	text-align: center;
}

.Mars-Rover-logo {
	height: 15vmin;
	pointer-events: none;
}

.Mars-Rover-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.Mars-Rover-link {
	color: #61dafb;
}

.cards {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(4, 1fr);
}

ul {
	list-style: none;
}