/* Generic above (Move out) */
body,
html {
  width: 100%;
  height: 100%;
}
input::-ms-clear,
input::-ms-reveal {
  display: none;
}
*,
:after,
:before {
  box-sizing: border-box;
}
html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
@-ms-viewport {
  width: device-width;
}
body {
  margin: 0;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-variant: tabular-nums;
  line-height: 1.5715;
  background-color: #fff;
  font-feature-settings: 'tnum';
}
[tabindex='-1']:focus {
  outline: none !important;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5em;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
}
p {
  margin-top: 0;
  margin-bottom: 1em;
}
abbr[data-original-title],
abbr[title] {
  text-decoration: underline;
  text-decoration: underline dotted;
  border-bottom: 0;
  cursor: help;
}
address {
  margin-bottom: 1em;
  font-style: normal;
  line-height: inherit;
}
input[type='number'],
input[type='password'],
input[type='text'],
textarea {
  -webkit-appearance: none;
}
dl,
ol,
ul {
  margin-top: 0;
  margin-bottom: 1em;
}
ol ol,
ol ul,
ul ol,
ul ul {
  margin-bottom: 0;
}
dt {
  font-weight: 500;
}
dd {
  margin-bottom: 0.5em;
  margin-left: 0;
}
blockquote {
  margin: 0 0 1em;
}
dfn {
  font-style: italic;
}
b,
strong {
  font-weight: bolder;
}
small {
  font-size: 80%;
}
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
a {
  color: #1890ff;
  text-decoration: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  transition: color 0.3s;
  -webkit-text-decoration-skip: objects;
}
a:hover {
  color: #40a9ff;
}
a:active {
  color: #096dd9;
}
a:active,
a:focus,
a:hover {
  text-decoration: none;
  outline: 0;
}
a[disabled] {
  color: rgba(0, 0, 0, 0.25);
  cursor: not-allowed;
}
code,
kbd,
pre,
samp {
  font-size: 1em;
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier,
    monospace;
}
pre {
  margin-top: 0;
  margin-bottom: 1em;
  overflow: auto;
}
figure {
  margin: 0 0 1em;
}
img {
  vertical-align: middle;
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
[role='button'],
a,
area,
button,
input:not([type='range']),
label,
select,
summary,
textarea {
  touch-action: manipulation;
}
table {
  border-collapse: collapse;
}
caption {
  padding-top: 0.75em;
  padding-bottom: 0.3em;
  color: rgba(0, 0, 0, 0.45);
  text-align: left;
  caption-side: bottom;
}
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
[type='reset'],
[type='submit'],
button,
html [type='button'] {
  -webkit-appearance: button;
}
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner,
button::-moz-focus-inner {
  padding: 0;
  border-style: none;
}
input[type='checkbox'],
input[type='radio'] {
  box-sizing: border-box;
  padding: 0;
}
input[type='date'],
input[type='datetime-local'],
input[type='month'],
input[type='time'] {
  -webkit-appearance: listbox;
}
textarea {
  overflow: auto;
  resize: vertical;
}
fieldset {
  min-width: 0;
  margin: 0;
  padding: 0;
  border: 0;
}
legend {
  display: block;
  width: 100%;
  max-width: 100%;
  margin-bottom: 0.5em;
  padding: 0;
  color: inherit;
  font-size: 1.5em;
  line-height: inherit;
  white-space: normal;
}
progress {
  vertical-align: baseline;
}
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}
[type='search'] {
  outline-offset: -2px;
  -webkit-appearance: none;
}
[type='search']::-webkit-search-cancel-button,
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}
output {
  display: inline-block;
}
summary {
  display: list-item;
}
template {
  display: none;
}
[hidden] {
  display: none !important;
}
mark {
  padding: 0.2em;
  background-color: #feffe6;
}
::selection {
  color: #fff;
  background: #1890ff;
}
.clearfix:after,
.clearfix:before {
  display: table;
  content: '';
}
.clearfix:after {
  clear: both;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  box-sizing: border-box;
  font-family: PingFang SC;
  transition: width 0.3s;
  -moz-transition: width 0.3s;
  -webkit-transition: width 0.3s;
  -o-transition: width 0.3s;
}
html {
  scroll-behavior: smooth;
}
.icon {
  width: 16px;
  height: 16px;
  vertical-align: -0.15em;
  overflow: hidden;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* End Generic above */

.rank-head-content_container__3BOop {
  width: 100%;
  height: 100%;
}
.rank-head-content_headContent__2vVek {
  height: 100%;
}
.rank-head-content_content__1J_yq {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
}
.rank-head-content_underLine__7THed {
  width: 100%;
  height: 4px;
  background: #5a66f9;
  border-radius: 14px;
}
.rank-head-content_left__1Ew5j {
  justify-content: flex-start;
}
.rank-head-content_center__2wZFv {
  justify-content: center;
}
.rank-head-content_right__3rAeh {
  justify-content: flex-end;
}
.rank-pagination_pagination__2o4YT {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.rank-pagination_rankArrow__1KAuw,
.rank-pagination_rankArrowRight__SIVen {
  margin: 12px;
  width: 24px;
  height: 24px;
  stroke: #5a66f9;
  cursor: pointer;
}
.rank-pagination_rankArrowRight__SIVen {
  transform: rotate(180deg);
}
.rank-pagination_rankPaginationNumber__1t1Pc {
  width: 34px;
  height: 34px;
  margin: 12px;
  border-radius: 12px;
  color: #202020;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.rank-pagination_rankPaginationNumber__1t1Pc.rank-pagination_active__3E9Tk {
  color: #fff;
  background-color: #5a66f9;
  box-shadow: 0 7px 16px rgba(90, 102, 249, 0.14);
}
.rank-pagination_small__1lCkg {
  margin: 8px;
}
.head_icon__X9DJJ {
  margin: 0 4px 2px 0;
  transition: all 0.3s;
}
.head_icon__X9DJJ path {
  fill: #5a66f9;
}
.head_rankHeadHoldingValue__2NXVy {
  height: 100%;
}
.head_rankHeadHoldingValue__2NXVy .head_holdValue__AVJcR {
  height: 100%;
  width: 100%;
}
.head_infoIcon__1NiQI,
.head_rankHeadHoldingValue__2NXVy .head_infoIcon__1NiQI {
  cursor: pointer;
}
.head_infoTitle__1wgh- {
  margin-right: 8px;
}
.head_infoContent__3090o {
  width: 420px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 1px;
  color: #333;
}
.table_rankTable__2HrNl {
  background: #fff;
  box-shadow: 0 4px 8px hsla(0, 0%, 87.8%, 0.4);
  border-radius: 14px;
  padding-bottom: 48px;
}
.table_loadingOrEmpty__Iw3yT {
  height: 600px;
  flex-direction: column;
}
.table_itemHead__13C7v,
.table_loadingOrEmpty__Iw3yT {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.table_itemHead__13C7v {
  height: 75px;
  border-bottom: 1px solid #e0e0e0;
  padding: 25px 14px;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 22px;
}
.table_itemHeadIcon__lhevM {
  margin-left: 24px;
}
.table_itemTitle__2SGro {
  font-weight: 600;
  font-size: 24px;
  line-height: 34px;
  margin-left: 8px;
}
.table_rankFoot__H7bSi {
  padding: 0 24px;
  margin-top: 24px;
}
.rank-foot_rankFoot__3sZrD {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.rank-foot_paginationText__3GrUU {
  flex: 1 1;
  font-size: 14px;
  letter-spacing: 1px;
  color: #aaa;
}
.rank-foot_paginationSelect__1VkmZ {
  flex: 1 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.select_selectContainer__1QIph {
  position: relative;
}
.select_selectOptionActive__fKoOk {
  width: 200px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  cursor: pointer;
}
.select_selectOptions__Ff2-a {
  padding-top: 8px;
  position: absolute;
  top: 100%;
}
.select_selectOptionItem__1rLxo {
  cursor: pointer;
  width: 200px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}
.select_selectionOptionRight__3ZH2n {
  right: 0;
}
.select_selectionOptionLeft__3SUUE {
  left: 0;
}
.select_selectionOptionCenter__4bqK7 {
  left: 50%;
  transform: translate(-50%);
}
.line-number_lineNumber__3ON9J {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.line-number_lineNumber__3ON9J {
  margin-left: 16px;
  padding: 0 19px 0 26px;
  height: 40px;
  font-size: 14px;
  line-height: 22px;
  background: #fff;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  box-shadow: 0 4px 4px hsla(0, 0%, 87.8%, 0.04);
  border-radius: 12px;
  cursor: pointer;
}
.line-number_lineNumber__3ON9J:hover {
  background: #f9f9f9;
}
.line-number_lineNumber__3ON9J .line-number_row__8Sr9i {
  flex: 1 1;
  text-align: center;
  letter-spacing: 1px;
  color: #aaa;
}
.line-number_lineNumber__3ON9J span {
  font-family: unset;
  margin-left: 12px;
  margin-right: 8px;
  font-size: 14px;
  line-height: 36px;
  color: #333;
  font-weight: 600;
}
.line-number_lineNumberItem__104sG {
  height: 40px;
  padding: 0 16px;
  font-size: 14px;
  line-height: 22px;
  color: #333;
  background: #fff;
  border-radius: 14px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.line-number_lineNumberItem__104sG span {
  font-family: unset;
  margin-right: 8px;
  font-size: 14px;
  line-height: 36px;
}
.line-number_lineNumberItem__104sG:hover {
  background-color: #f9f9f9;
}
.line-number_Triangle__G3je5 {
  width: 13px;
  height: 8;
  transition: all 0.3s;
}
.line-number_openTriangle__1nqOh {
  transform: rotate(180deg);
}
.line-number_itemArea__1crDt {
  background-color: #fff;
  border-radius: 14px;
  box-shadow: 0 4px 8px hsla(0, 0%, 87.8%, 0.4);
  font-weight: 500;
}
.collection-whale_leftGraphArea__2JX0K,
.collection-whale_rightGraphArea__1DtxC {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.collection-whale_graphTitle__38-Zk {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 16px;
}
.collection-whale_loading__3F_Sd {
  height: 396px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 1263px) {
  .collection-whale_graphArea__2R41b {
    width: 960px;
    background: #fff;
    box-shadow: 0 4px 8px hsla(0, 0%, 87.8%, 0.4);
    border-radius: 14px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 24px 30px;
  }
  .collection-whale_tableArea__3fC_D {
    width: 960px;
    margin-top: 32px;
  }
  .collection-whale_leftGragh__1zKow,
  .collection-whale_rightGraph__3bDDz {
    width: 450px;
    height: 396px;
  }
  .head_rankHead__3S8tb {
    height: 36px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #000;
    margin: 0 24px;
    padding-left: 24px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .head_rankHeadHash__9I0Ki {
    width: 68px;
  }
  .head_rankHeadAddress__3xsLG {
    width: 140px;
  }
  .head_rankHeadHoldingValue__2NXVy {
    width: 160px;
  }
  .head_rankHeadNFTs__3DDFY {
    width: 100px;
    text-align: right;
  }
  .head_rankHeadBuyVolume__1r8mn,
  .head_rankHeadSellVolume__1nEKv {
    text-align: right;
    width: 155px;
  }
  .head_rankHeadLastTrade__1tO4O {
    flex: 1 1;
    text-align: right;
  }
  .collection-whale_tableArea__3fC_D {
    width: 960px;
    margin-top: 32px;
  }
  .list-item_rankItem__1ULb4 {
    padding-left: 24px;
  }
  .list-item_rankItemHash__IrAcT {
    width: 68px;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: #202020;
    font-style: italic;
  }
  .list-item_image__5OONB {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-right: 6px;
    object-fit: contain;
    object-position: center center;
  }
  .list-item_rankAddress__KZlrz {
    width: 110px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #333;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  .list-item_rankNTFs__3vgEL {
    width: 100px;
    font-size: 14px;
    line-height: 22px;
    color: #333;
    font-weight: 500;
    text-align: right;
  }
  .list-item_rankHoldValue__2t3sq {
    width: 160px;
    font-size: 14px;
    line-height: 19px;
    color: #333;
    text-align: right;
    font-weight: 500;
  }
  .list-item_rankBuyValue__1Fm9x,
  .list-item_rankSellValue__2Q65B {
    width: 155px;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    text-align: right;
    color: #333;
  }
  .list-item_rankLastTrade__2OLHH {
    flex: 1 1;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    text-align: right;
  }
  .list-item_rankLastTrade__2OLHH a {
    color: #5a66f9 !important;
  }
}

@media screen and (min-width: 1264px) {
  .collection-whale_graphArea__2R41b {
    width: 1208px;
    background: #fff;
    box-shadow: 0 4px 8px hsla(0, 0%, 87.8%, 0.4);
    border-radius: 14px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 24px 60px;
  }
  .collection-whale_tableArea__3fC_D {
    width: 1208px;
    margin-top: 32px;
  }
  .collection-whale_leftGragh__1zKow,
  .collection-whale_rightGraph__3bDDz {
    width: 490px;
    height: 396px;
  }
  .head_rankHead__3S8tb {
    height: 36px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #000;
    margin: 0 24px;
    padding: 0 18px 0 24px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .head_rankHeadHash__9I0Ki {
    width: 68px;
  }
  .head_rankHeadAddress__3xsLG {
    width: 170px;
  }
  .head_rankHeadNFTs__3DDFY {
    width: 115px;
    text-align: right;
  }
  .head_rankHeadHoldingValue__2NXVy {
    width: 199px;
    text-align: right;
  }
  .head_rankHeadBuyVolume__1r8mn {
    width: 208px;
    text-align: right;
  }
  .head_rankHeadSellVolume__1nEKv {
    width: 190px;
    text-align: right;
  }
  .head_rankHeadLastTrade__1tO4O {
    flex: 1 1;
    text-align: right;
  }
  .flex-box_flexBoxRow__2sC4D {
    flex-direction: row;
  }
  .flex-box_flexBoxColumn__3RsOR,
  .flex-box_flexBoxRow__2sC4D {
    display: flex;
    justify-content: space-between;
    align-items: space-between;
  }
  .flex-box_flexBoxColumn__3RsOR {
    flex-direction: column;
  }
  .list-item_rankItem__1ULb4 {
    padding: 0 18px 0 24px;
  }
  .list-item_rankItemHash__IrAcT {
    width: 68px;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: #202020;
    font-style: italic;
  }
  .list-item_image__5OONB {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-right: 6px;
    object-fit: contain;
    object-position: center center;
  }
  .list-item_rankAddress__KZlrz {
    width: 140px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #333;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  .list-item_rankNTFs__3vgEL {
    width: 115px;
    font-size: 14px;
    line-height: 22px;
    color: #333;
    font-weight: 500;
    text-align: right;
  }
  .list-item_rankHoldValue__2t3sq {
    width: 199px;
    font-size: 14px;
    line-height: 19px;
    color: #333;
    font-weight: 500;
    text-align: right;
  }
  .list-item_rankBuyValue__1Fm9x {
    width: 208px;
  }
  .list-item_rankBuyValue__1Fm9x,
  .list-item_rankSellValue__2Q65B {
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    color: #333;
    text-align: right;
  }
  .list-item_rankSellValue__2Q65B {
    width: 190px;
  }
  .list-item_rankLastTrade__2OLHH {
    flex: 1 1;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    text-align: right;
  }
  .list-item_rankLastTrade__2OLHH a {
    color: #5a66f9 !important;
  }
}
